<!DOCTYPE html>
<html lang="ja">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>APIを用いた故障事由コードの推定 - H29卒研webApp</title>
	<link href="/static/css/sticky-footer.css" rel="stylesheet">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrapMyConf.css" rel="stylesheet">

	<!--[if lt IE 9]>
		<script src="/static/js/IE9/html5shiv.min.js"></script>
		<script src="/static/js/IE9/respond.min.js"></script>
	<![endif]-->

</head>


<body>

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

	<div class="container main">
		<div class="page-header">
			<a class="topLink" href="/">
				<h1>平成29年度卒業研究<small> WEB Application</small></h1>
			</a>
		</div>
    <h3>APIを用いた故障事由コードの推定</h3>
		<p>ブラウザを以外でコードの推定をする場合</p>
		<br>
		<a href="">webAPIを用いたコード推定について</a>

		<hr>


	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted text-center">Copyright © 2018 弓削商船高専 田房研究室 All rights Reserved.</p>
		</div>
	</footer>


</body>
